#!/bin/bash

export ALTERNATE_EDITOR=""
export EDITOR="emacsclient -t"
export VISUAL="emacsclient -c -a emacs"
export TERMINAL="urxvt"

export DBUS_SESSION_BUS_ADDRESS
DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus;

export GDK_SCALE=1
export GDK_DPI_SCALE=0.75
export QT_DEVICE_PIXEL_RATIO=2

export DOCKER_CONTENT_TRUST=1


